/Lesson2/articles.csv
/*/.ipynb_checkpoints/*
/*/*/.ipynb_checkpoints/*
/*/catboost_info/*
/*/*/catboost_info/*
/old/Lesson2/articles.csv
/old/Lesson4/HW_data.csv
/Lesson2/materials.csv
/Lesson2/users_articles.csv
/Lesson2/x_test.csv